<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel='icon' href='https://getbootstrap.com/favicon.ico'>
	<link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
	<link rel='stylesheet' href='https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css'>
	<title>Wealth Management</title>
</head>
<body>
	{% include 'includes/_navbar.html' %}
    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small></small>
                </h1>
                <p>Deep learning and Machine learning combined with the a state of the art web scrapper to churn the web and provide the best most active on-going currency and market news!! Our algorithm is tweaked specially to provided a enriched experience with all the trending news at one stop</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAa7AAAAJDkxZjgxMjhjLTcyMDgtNDVkNi1iZGQyLWY1MjI5MGQzZmY5YQ.jpg" alt="">
                <h3>Atif Adib
                    <small>Deep Learning and Machine Learning Lead</small>
                </h3>
                <p>Train Models , Build and test APIs for chat bots and web scrappers</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://pbs.twimg.com/profile_images/824577787025453056/PLvVRyiV.jpg" alt="">
                <h3>Haris Sumair
                    <small>Backend Designer and a Coding wizard!!</small>
                </h3>
                <p>User experience Management and web development</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="" alt="">
                <h3>Ankit Kumar
                    <small>Python Expert</small>
                </h3>
                <p>s</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="" alt="">
                <h3>Aayushman Bhat
                    <small>Content Developer and Head of business and Maketing</small>
                </h3>
                <p></p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; www.cryptomanager.com 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>

</body>
</html>